<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <div id="book-list" th:fragment="bookList">
        <table class="w-1/2 bg-white rounded-xl shadow mb-8 table-fixed  mx-auto">
            <tr class="text-left border-b border-gray-200">
                <th class="p-4 text-gray-600">Title</th>
                <th class="p-4 text-gray-600">Author</th>
                <th class="p-4 text-gray-600">Read</th>
                <th class="p-4"></th>
            </tr>
            <tr th:each="book : ${books}" class="border-b border-gray-100 hover:bg-gray-50">
                <td class="p-4 font-medium truncate"><a th:href="@{/books/{id}(id=${book.id})}" th:text="${book.title}"></a></td>
                <td class="p-4 text-gray-600 truncate" th:text="${book.author}"></td>
                <td class="p-4">
                    <form hx-post="/toggle" hx-target="#book-list" hx-swap="outerHTML">
                        <input type="hidden" name="id" th:value="${book.id}">
                        <button type="submit" th:if="${book.read}"
                            class="bg-green-100 text-green-700 px-2 py-1 rounded-full text-sm w-24 hover:bg-green-200">Okundu</button>
                        <button type="submit" th:unless="${book.read}"
                            class="bg-gray-100 text-gray-500 px-2 py-1 rounded-full text-sm w-24 hover:bg-gray-200">Okunmadı</button>
                    </form>
                </td>
                <td class="p-4">
                    <form hx-post="/delete" hx-target="#book-list" hx-swap="outerHTML">
                        <input type="hidden" name="id" th:value="${book.id}">
                        <button
                            class="text-white hover:text-white text-sm bg-red-700 hover:bg-red-500 w-24 rounded-full py-1">Sil</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>ml